# Python cache files
**/__pycache__/
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Output data
financial_calculators/output_data/*.csv
output_data/*.csv

# Specific scripts
financial_calculators/scripts/scrape_from_realtor.py